# Core Frameworks
fastapi
uvicorn[standard]
python-multipart
pydantic-settings
python-dotenv
requests
aiofiles

# Task Queue & Backend
celery
redis

# Audio Processing
numpy<2.1.0
librosa
soundfile
pydub
static-ffmpeg
scipy

# Machine Learning & AI
torch
torchaudio
lightgbm
scikit-learn
transformers
accelerate
huggingface-hub

# Specialized Audio Services
pyannote.audio
speechbrain
#demucs
spleeter
edge-tts

# Utilities
tqdm
yt-dlp
